.team-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-logos img {
  width: 100px; /* Tamaño deseado para los logos */
  height: 100px; /* Tamaño deseado para los logos */
  margin: 10px; /* Espacio entre los logos */
  transition: transform 0.3s ease;
}

.team-logos img:hover {
  transform: scale(
    1.1
  ); /* Aumenta el tamaño al pasar el ratón sobre la imagen */
}

.team-info-logo {
  width: 250px;
  height: 250px;
}
