/* style.css (modificado) */
body {
  font: normal 0.8em "trebuchet ms", arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 175% "century gothic", arial, sans-serif;
}

a,
a:hover {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul#menu,
ul#menu li {
  float: left;
  margin: 0;
  padding: 0;
}

ul#menu li a {
  letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block;
  float: left;
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
}

ul#menu li a:hover,
ul#menu li.selected a,
ul#menu li.selected a:hover {
  color: #fa057e;
  background: #fff;
}

#site_content {
  width: 854px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 24px 20px;
  background: #000;
}

#footer {
  width: 854px;
  font: normal 100% "lucida sans unicode", arial, sans-serif;
  padding: 24px 0 5px;
  text-align: center;
  background: transparent;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
